@use "styles/variables" as var;

.list {
  background-color: var.$lightgrey;
  border-radius: var.$borderRadius;
  padding: 1.1rem var.$mainSpacing var.$mainSpacing var.$mainSpacing;
  width: var.$widthList;
  margin-right: var.$mainSpacing;
  height: fit-content;
}

.title {
  font-weight: bold;
  font-size: var.$fontSizeText;
  margin-bottom: 1.2rem;
}
