@use "styles/variables" as var;

.button {
  width: 100%;
  border-radius: var.$borderRadius;
  color: #5e6c84;
  font-size: var.$fontSizeText;
  padding: 0.5rem 0rem;
  cursor: pointer;
  background-color: var.$lightgrey;
  transition: ease-in-out 0.1s;

  &:hover {
    background-color: var.$grey;
    color: var.$black;
  }
}
