// colors
// $mainBg: #413596;
$mainBg: #3041a6;
$white: #fff;
$lightgrey: #ebecf0;
$grey: #D9D9D9;
$black: #000;

// sizes
$widthList: 27.2rem;
$borderRadius: 0.3rem;
$fontSizeText: 1.4rem;
$mainSpacing: 0.8rem;