@use "styles/variables" as var;

.todo {
  background-color: var.$white;
  border-radius: var.$borderRadius;
  padding: 1.1rem;
  margin-bottom: var.$mainSpacing;
  display: flex;
  justify-content: space-between;
  // cursor: pointer;
}

.title {
  font-size: var.$fontSizeText;
  color: var.$black;
  line-height: 1.7rem;
}
